/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
*{
    padding :0%;
    margin :0%;
    box-sizing: border-box;

}

body{
    width: 100%;
    height:100vh;
    background-color:#4e4466 ;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
    width: 85%;
    height: 95%;
    border: 1px solid #e2d5f1;
    display: flex;
    flex-wrap: wrap;
}

header .menu_side, .song_side {
    position :relative;
    width : 25%;
    height : 90vh;
    /*border : 1px solid #e2d5f1;*/
    background-color:b8acd1 ;
    box-shadow: 5px 0px;
}
header .song_side {
    width:75%;
    background-color: #b8acd1;
     

}
header {
    width:100% ;
    height: 10%;
    background: #c9e8fd;

}
